{{ define "main" }}

<div class="p-2">
    <h1>HelpLocalSchools.com</h1>

    <h3>This domain is available for purchase.</h3>
</div>

<div class="card text-white bg-dark p-2 p-sm-5 mt-4">
    <div class="card-body">
        <form name="contact" method="POST" class="row" data-netlify="true">
            <div class="col-md-6">
                <input type="text" id="name" name="name" placeholder="Full Name" class="form-control mb-4">
            </div>
            <div class="col-md-6">
                <input type="email" id="email" name="email" placeholder="Email Address" class="form-control mb-4">
            </div>
            <div class="col-12">
                <textarea name="message" id="message" class="form-control mb-4"
                    placeholder="Type Message Here"></textarea>
            </div>
            <div class="col-lg-6 col-10 mx-auto">
                <button type="submit" class="btn btn-success w-100">SEND</button>
            </div>
        </form>
    </div>
</div>
{{ end }}